.leftBar{
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  border: 1px solid lightgray;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.09);
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .container{
    padding: 20px;
    hr{
      opacity: 0.5;
      margin: 10px;
    }
    h1{
      font-size: 15px;
      font-weight: 500;
    }
    .menu{
      display: flex;
      flex-direction: column;
      gap: 20px;

     .item{
       display: flex;
       align-items: center;
       gap: 10px;
       img{
         width: 25px;

       }
     }
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 25px ;
          height: 25px ;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}