@import "../../index";
.profile{
  background-color: whitesmoke;
.imgContainer{
  width: 100%;
  height: 300px;
  position: relative;

  .background{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .userImg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin:auto;
    @include mobile{
      top:150px

    }

  }
}
  .profileContainer{
    padding: 20px 70px;
    @include mobile{
      padding: 20px 10px;

    }

    .socialsContainer{
      margin-bottom: 20px;
      background-color: white;
      padding: 50px;
      height: 180px;
      border-radius: 20px;
      border:1px solid lightgray;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile{
        flex-direction: column;

      }
      .left{
        flex: 1;
        display: flex;
        gap: 10px;
        color: grey;
        @include tablet{
          flex-wrap: wrap;
        }
        a:visited, a:focus {
          cursor: pointer;
          text-decoration: none;
          color: grey;

        }
      }
      .center{
        padding-top: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        span{
          font-size: 20px;
          font-weight: bold;
        }
        .infoContainer{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .item{
            display: flex;
            justify-content: center;
            gap: 5px;
            span{
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
        button{
          padding: 10px 20px;
          background-color: #aac3ff;
          border: none;
          border-radius: 2px;

          text-shadow:0.1px 0.2px 0.5px;
          &:hover{
            box-shadow:0.2px 0.4px 3px #aac3ff;
            cursor: pointer;
          }
        }
      }
      .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
      }
    }

  }
}